.title {
    margin: 0;
    padding: 0.4em 1em;
    color: #61458c;
    text-shadow: -1px 1px 2px white,
        1px 1px 2px white,
        1px -1px 0 white,
        -1px -1px 0 white;
    background-image: url("../img/header.jpg");
    background-size: 101%;
    background-position: left center;
    background-repeat: no-repeat;
    background-size: cover;
    line-height: 250px;
    font-weight: bold;
}

@media only screen and (max-width: 768px) {
    .title {
        background-image: url("../img/header-mini.png");
    }
}

.navbar-toggler {
    color: white;
    border-color: white;
}

.navbar-brand {
    margin: 0;
    padding: 0;
}

.navbar {
    margin: 0;
    padding: 0.4em;
    background-color: #61458c;
}

.nav-link {
    color: white;
    font-size: smaller;
    font-weight: bold;
}

.navbar a {
    text-align: center;
    margin: 0em 1em 0em 1em;
    border-radius: 5px;
}

.navbar a:hover {
    background-color: white;
    color: #61458c;
}